.NavbarItems{
  background: #00adb5;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-logo{
  color: #fff;
  justify-self: start;
  margin-left: 20px;
}
